*{
  margin: 0;
}  
  .container {
    width: 100%;
    display: flex;
    border: 1px solid;
  }
  .search-bar {
    width: 30%;
    justify-content: start;
    flex-direction: row;
    border: 1px solid black;
  }
  #searchBar {
      border: 2px solid black;
      border-radius: 5px;
      padding: 5px;
      margin: 2rem 2rem 0 2rem;
  }
  .filter-head {
    padding-left: 10px;
    text-align: center;
  }
  .content {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
  }
  .data {
    width: 31.4%;
    margin: 20px 20px 20px 0px;
  }
  
  .brand-radio {
    margin: 0 10px;
  }
  
  .filters {
    display: flex;
    flex-direction: row;
  }
  
  .filter-apply-btn {
    display: flex;
    margin: 0 10px;
  }
  .priceFilter{
    margin: 5px 20px;
  }
  .priceLink{
    cursor: pointer;
    margin-inline: 10px;
  }
  .brandFilter{
    display: flex;
  }
  .brand-filter{
    display: flex;
    margin-top: 20px;
  }